.container {
  display: flex;
  justify-content: center;
  border: solid;
  margin-top: 20vh;
  margin-bottom:  40vh;
}

.maincontainer {
  border: solid;
}

.subcontainer {
  border: solid;
  margin-left: 50%;
}